.New_Home {
    width: 100%;
    display: flex;
    justify-content: center;

    .new {
        display: flex;
        justify-content: center;
        width: 86%;
        height: auto;
        align-items: center;

        .block_new {
            width: 100%;
            margin-top: 5vh;

            .box {
                width: 100%;
                margin-bottom: 10px;
            }

            span {
                width: 119px;
                height: 51px;
                font-size: 40px;
                line-height: 60px;
                text-transform: capitalize;
                font-weight: 500;
            }

            h6 {
                height: 1px;
                width: 100%;
                background: gray;
                margin-top: 15px;
                margin-bottom: 10px;
            }

            h5 {
                height: 2px;
                width: 100%;
                background: gray;
                margin-top: 8.3vh;
            }
        }
    }
}