.Shop_Home {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -0.3vh;

    .shop {
        width: 86.3%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 9vh;

        .block_shop {
            width: 100%;
            height: 100%;

            span {
                width: 119px;
                height: 51px;
                font-size: 40px;
                line-height: 60px;
                text-transform: capitalize;
                font-weight: 500;
            }

            h6 {
                height: 2px;
                width: 100%;
                background: gray;
                margin-top: 11px;
            }

            .image_shop {
                width: 100%;
                height: 968px;
                display: grid;
                grid-template-columns: 48.8% 48.8%;
                justify-content: space-between;
                row-gap: 30px;
                margin-top: 53px;

                .item_shop {

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}